{% extends 'base.html' %} {% block title %} Регистрация {% endblock %} {% block
main %}
<div class="container">
  <main>
    <form method="post" class="w-50 mx-auto my-5">
      <h1>Регистрация</h1>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Имя</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          required
          name="name"
          min="2"
          max="30"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          required
          name="email"
          min="5"
          max="30"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Пароль</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          required
          name="password"
          min="5"
          max="16"
        />
      </div>

      <button type="submit" class="btn btn-primary">Войти</button>
    </form>
  </main>
</div>
{% endblock %}
