{% extends 'base.html' %} {% block title %} Правила посещения {% endblock %} {%
block main %}
<main>
  <div class="container">
    <ol class="breadcrumb py-3">
      <li class="breadcrumb-item"><a href="/">Главная</a></li>
      <li class="breadcrumb-item active">Правила посещения</li>
    </ol>
  </div>
  <div class="container d-flex align-items-center flex-column my-3">
    <h1>Правила посещения</h1>
    <img src="../static/img/rules.jpg" alt="" class="img-fluid" />
    <ul>
      <li>
        Для посещения Музея посетители объединяются в группы от 10 до 25 человек
        во главе с руководителем группы – ответственным лицом.
      </li>
      <li>
        Группа учащихся посещает Музей в сопровождении двух руководителей.
      </li>
      <li>
        Посетители проходят в Музей без сумок, портфелей, пакетов, которые
        следует оставить в гардеробной комнате.
      </li>
      <li>
        В Музее запрещено курить, вносить с собой упаковки с водой, едой,
        мороженое, употреблять жевательную резинку.
      </li>
      <li>
        Руководители группы несут ответственность за соблюдение порядка и
        чистоты в залах, неприкосновенность экспонатов.
      </li>
      <li>
        Посетители Музея проходят по экскурсионному маршруту в сопровождении
        смотрителя.
      </li>
      <li>
        Посетители не должны шуметь, кричать и громко разговаривать в залах
        Музея, перебивать экскурсовода, спорить друг с другом и сотрудниками
        Музея.
      </li>
      <li>
        Посетители не должны мешать друг другу при осмотре экспонатов,
        загораживать друг другу вид, тесниться у одного экспоната.
      </li>
      <li>
        Запрещается трогать экспонаты руками, трогать и открывать витрины,
        заходить за ограждения, заходить в административную часть помещения.
      </li>
      <li>
        Запрещается толкаться, бегать по залам, наносить удары по стеклам.
      </li>
      <li>
        Громко разговаривать или кричать, подзывая знакомого или друга, а также
        пользоваться мобильным телефоном в музее недопустимо.
      </li>
      <li>
        Признаком дурного тона также считается громкое обсуждение или
        критические замечания.
      </li>
      <li>
        Для того чтобы ознакомиться с каким-либо экспонатом, не нужно вставать
        перед другим посетителем. Лучше всего дождаться, когда он, закончив
        осмотр, освободит место.
      </li>
      <li>Трогать руками музейные экспонаты строго воспрещается.</li>
      <li>
        Руководители и члены группы во время проведения Экспозиция должны
        соблюдать правила техники безопасности, противопожарной безопасности.
      </li>
      <li>
        Руководители группы несут полную ответственность за выполнение
        посетителями Музея ПРАВИЛ ПОВЕДЕНИЯ и ИНСТРУКЦИИ по технике безопасности
        жизни посетителей.
      </li>
      <li>Посетители и руководители групп несут ответственность:</li>
      <li>
        За правонарушения, совершенные во время пребывания в Музее, – в
        пределах, установленных действующим административным, уголовным и
        гражданским законодательством Российской Федерации.
      </li>
      <li>
        За причинение материального ущерба – в пределах, установленных
        действующим трудовым законодательством Российской Федерации.
      </li>
    </ul>
  </div>
</main>
{% endblock %}
