{% extends 'base.html' %} {% block title %} Выставки {% endblock %} {% block
main %} {{ ckeditor.load() }}
<div class="container my-3">
  <main>
    <ol class="breadcrumb py-3">
      <li class="breadcrumb-item"><a href="/">Главная</a></li>
      <li class="breadcrumb-item active">Выставки</li>
    </ol>
    {%if 'admin' in session%}
    <button
    type="button"
    class="btn btn-primary mb-3"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Добавить запись
  </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить запись</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">Название</label>
              <input type="text" id="disabledTextInput" class="form-control" name="title" placeholder="Название"
                required>
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">Дата начала</label>
              <input type="date" id="disabledTextInput" class="form-control" name="date_start" placeholder="Дата начала"
                required>
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">Дата окончания</label>
              <input type="date" id="disabledTextInput" class="form-control" name="date_end" placeholder="Дата окончания"
                required>
            </div>
      
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">Изображение</label>
              <input type="file" id="disabledTextInput" name="image" class="form-control" accept=".jpg,.jpeg,.png"
                required>
            </div>
            <div class="mb-3">
              <h3>Содержимое</h3>
              {{ ckeditor.create() }}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Добавить запись</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  {%endif%}

    <h1>Выставки</h1>

    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
      bis_skin_checked="1"
    >
    {% for show in shows %}
      <div class="col" bis_skin_checked="1">
        <div class="card shadow-sm" bis_skin_checked="1">
          <a href="/show/{{show.id}}"><img
            src="../static/img/upload/{{show.image_name}}"
            alt="" width="100%"
          /></a>
        
          <div class="card-body" bis_skin_checked="1">
            <p class="card-text">{{show.title}}</p>
            <div
              class="d-flex justify-content-between align-items-center"
              bis_skin_checked="1"
            >
              <div class="btn-group" bis_skin_checked="1">
                <a href="/show/{{show.id}}" class="btn btn-sm btn-outline-secondary"
                  >Просмотреть</a
                >
              </div>
              <small class="text-body-secondary"
                >{{ show.date_start.strftime('%d.%m.%Y') }} - {{ show.date_end.strftime('%d.%m.%Y') }}</small
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
</div>
{% endblock %}
