{% extends 'base.html' %} {% block title %} Билеты {% endblock %} {% block main
%}

<div class="container">
  <main class="my-3">
    <ol class="breadcrumb py-3">
      <li class="breadcrumb-item"><a href="/">Главная</a></li>
      <li class="breadcrumb-item active">Билеты</li>
    </ol>
    {%if 'name' in session and active_user.root==1%}
    <button
    type="button"
    class="btn btn-primary mb-3"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Добавить билет
  </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить билет</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">Название</label>
              <input type="text" id="disabledTextInput" class="form-control" name="title" placeholder="Название"
                required>
            </div>
            <div class="mb-3">
              <label for="disabledTextInput" class="form-label">Цена, руб\чел</label>
              <input type="number" id="disabledTextInput" class="form-control" name="price" placeholder="Цена"
                required>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  {%endif%}
  {%if not 'name' in session%}
  <div class="bs-component" bis_skin_checked="1">
    <div class="alert alert-dismissible alert-primary" bis_skin_checked="1">
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
      ></button>
      <h4 class="alert-heading"></h4>
      <p class="mb-1">
        Билеты могут заказывать только авторизованные пользователи!
      </p>
    </div>
  </div>
  {%endif%}

    <h1>Билеты</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      

      {% for ticket in tickets %}
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ticket.title}}</h5>
            <p class="card-text">Цена: {{ticket.price}} руб\чел</p>
            <div class="d-flex justify-content-between align-items-center">
              {%if 'name' in session%}
              <a href="/add-order/{{ticket.id}}/{{active_user.id}}" class="btn btn-primary">Заказать</a>
              {%endif%}
              {%if 'name' in session and active_user.root==1%}
              <button class="btn btn-warning" data-bs-toggle="modal"
              data-bs-target="#exampleModal{{ticket.id}}">Изменить</button>
              <div class="modal fade" id="exampleModal{{ticket.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Изменить билет</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form method="post" action="{{ url_for('update_ticket', id=ticket.id) }}">
                        <div class="mb-3">
                          <label for="disabledTextInput" class="form-label">Название</label>
                          <input type="text" id="disabledTextInput" class="form-control" name="title" value="{{ticket.title}}" placeholder="Название"
                            required>
                        </div>
                        <div class="mb-3">
                          <label for="disabledTextInput" class="form-label">Цена, руб\чел</label>
                          <input type="number" id="disabledTextInput" class="form-control" name="price" value="{{ticket.price}}" placeholder="Цена"
                            required>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                      <button type="submit" class="btn btn-primary">Изменить</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>

              <a href="/delete-tickets/{{ticket.id}}" class="btn btn-danger">Удалить</a>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
</div>
{% endblock %}
