{% extends 'base.html' %} {% block title %} Посетителям {% endblock %} {% block
main %}
<div class="container">
  <main>
    <ol class="breadcrumb py-3">
      <li class="breadcrumb-item"><a href="/">Главная</a></li>
      <li class="breadcrumb-item active">Посетителям</li>
    </ol>
    <div class="col-lg-12 col-md-12 col-sm-12" bis_skin_checked="1">
      <h1 class="c-header c-header-margin">Посетителям</h1>
      <main class="c-article" id="main-article">
        <div class="nmrk_1" bis_skin_checked="1">
          <div class="content" bis_skin_checked="1">
            <p style="color: #5c5a51">
              <strong
                ><span style="color: #000000"
                  >Режим работы музея:<br /> </span></strong
              ><span style="color: #f16c4d"
                ><u
                  ><b><br /> </b></u></span
              ><span style="color: #000000"
                >Вторник - воскресенье: 10:00 - 18:00</span
              >
            </p>
            <span style="color: #000000"> </span>
            <p style="color: #5c5a51">
              <span style="color: #000000"> </span
              ><strong
                ><span style="color: #000000"
                  >Справки и заказ экскурсий: (8142) 55-96-60 (доб.165)</span
                ></strong
              >
            </p>
            <h3 style="color: #2b2b3e">
              <strong
                ><span style="color: #111111">Билеты:<br /> </span
              ></strong>
            </h3>
            <table class="table">
              <tbody>
                <tr>
                  <td colspan="3">
                    <span style="color: #9d0a0f"
                      ><b>Стоимость билетов:&nbsp;&nbsp;</b></span
                    >
                  </td>
                </tr>
                <tr>
                  <td colspan="1">
                    <b>1.</b>
                  </td>
                  <td colspan="2">
                    <b>Входной билет на постоянную экспозицию</b> &nbsp;
                  </td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">взрослый</td>
                  <td colspan="1">300 руб./чел.</td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">дошкольники и школьники</td>
                  <td colspan="1">50 руб./чел.</td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">студенты</td>
                  <td colspan="1">150 руб./чел.</td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">пенсионеры</td>
                  <td colspan="1">100 руб./чел.</td>
                </tr>
                <tr>
                  <td colspan="1">
                    <b>2.</b>
                  </td>
                  <td colspan="2">
                    <b>Входной билет на временную экспозицию &nbsp;</b>
                  </td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">взрослый</td>
                  <td colspan="1">100 руб./чел.</td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">дошкольники и школьники</td>
                  <td colspan="1">50 руб./чел.</td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">студенты</td>
                  <td colspan="1">80 руб./чел.</td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">пенсионеры</td>
                  <td colspan="1">80 руб./чел.</td>
                </tr>
                <tr>
                  <td colspan="3">
                    <b
                      ><span style="color: #9d0a0f"
                        >Экскурсионное обслуживание:&nbsp;&nbsp;</span
                      ></b
                    >
                  </td>
                </tr>
                <tr>
                  <td colspan="1">
                    <b>3.&nbsp;</b>
                  </td>
                  <td colspan="1">
                    <b>Обзорная экскурсия по постоянной экспозиции музея</b>
                  </td>
                  <td colspan="1">
                    <b>1500 рублей</b>
                  </td>
                </tr>
                <tr>
                  <td colspan="1">
                    <b>4.</b>
                  </td>
                  <td colspan="1">
                    <b
                      >Экскурсия на 1 тематический зал или 1 временную
                      выставку</b
                    >
                  </td>
                  <td colspan="1">
                    <b>800 рублей</b>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <b
                      ><span style="color: #9d0a0f"
                        >Выездные занятия и лекции:&nbsp;&nbsp;</span
                      ></b
                    >
                  </td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">дошкольники и школьники</td>
                  <td colspan="1">750 рублей</td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">прочие посетители</td>
                  <td colspan="1">1200 рублей&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">
                    дети-инвалиды, находящиеся в специализированных учреждениях
                  </td>
                  <td colspan="1">0 рублей&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="3">
                    <span style="color: #9d0a0f"
                      ><b>Автобусные Экспозиция</b
                      ><span style="color: #000000"
                        ><b> </b>(автобус туристического класса с микрофоном<br />
                        предоставляется заказчиком)</span
                      ></span
                    ><span style="color: #000000"> &nbsp;&nbsp;</span>
                  </td>
                </tr>
                <tr>
                  <td colspan="1">
                    <b>5.</b>
                  </td>
                  <td colspan="2">
                    <b>&nbsp;Экскурсионное обслуживание по маршруту: &nbsp;</b>
                  </td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">
                    «Беломорск - прифронтовая столица Карелии» (2 часа),<br />
                    группа до 10 человек
                  </td>
                  <td colspan="1">2500 рублей</td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">
                    «Беломорск - прифронтовая столица Карелии» (2 часа),<br />
                    группа более 10 человек&nbsp;
                  </td>
                  <td colspan="1">250 руб./чел.</td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">
                    «Беломорско-Балтийский канал» (19 шлюз) (1 час 20 минут),<br />
                    группа до 10 человек
                  </td>
                  <td colspan="1">2500 рублей</td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">
                    «Беломорско-Балтийский канал» (19 шлюз) (1 час 20 минут),<br />
                    группа более 10 человек
                  </td>
                  <td colspan="1">250 руб./чел.&nbsp; &nbsp;</td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">
                    «Беломорские петроглифы. От прошлого к настоящему»
                    (Залавруга) (2 часа),<br />
                    группа до 10 человек&nbsp; &nbsp;
                  </td>
                  <td colspan="1">3500 рублей</td>
                </tr>
                <tr>
                  <td colspan="1">&nbsp;</td>
                  <td colspan="1">
                    «Беломорские петроглифы. От прошлого к настоящему»
                    (Залавруга) (2 часа),<br />
                    группа более 10 человек
                  </td>
                  <td colspan="1">&nbsp;350 руб./чел.</td>
                </tr>
                <tr>
                  <td colspan="3">
                    <span style="color: #9d0a0f"
                      ><b>Проведение музейных программ:&nbsp; &nbsp;</b></span
                    >
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td colspan="1">
                    <b>6.</b>
                  </td>
                  <td colspan="1">
                    <b
                      >Музейные программы, интерактивные занятия, квесты и
                      мастер-классы</b
                    >
                  </td>
                  <td colspan="1">
                    <b>&nbsp;100 руб./чел.</b>
                  </td>
                </tr>
              </tbody>
            </table>
            <p>
              <span style="color: #000000"
                >Посетители имеют право на любительскую фото- и видеосъемку без
                вспышки на территории выставочных залов Музея Карельского фронта
                бесплатно строго в личных (некоммерческих) целях.
              </span>
            </p>
            <span style="color: #000000"> </span>
            <p style="color: #5c5a51">
              <span style="color: #000000"> </span
              ><strong
                ><span style="color: #000000"
                  >Бесплатно обслуживаются:</span
                ></strong
              ><span style="color: #000000"> </span>
            </p>
            <span style="color: #000000"> </span>
            <p>
              <span style="color: #000000"> - дети до 3-х лет</span><br />
              <span style="color: #000000"> - дети-инвалиды</span><br />
              <span style="color: #000000">
                - дети, находящихся в домах – интернатах;</span
              ><br />
              <span style="color: #000000">
                - участники и ветераны войн, герои Советского Союза, Герои
                Российской Федерации, полные кавалеры ордена Славы</span
              ><br />
              <span style="color: #000000">
                - неработающие инвалиды труда 1 и 2 группы;</span
              ><br />
              <span style="color: #000000">
                - солдаты, сержанты и старшины срочной службы;</span
              ><br />
              <span style="color: #000000">
                - престарелые граждане, находящихся в домах – интернатах;<br /> </span
              >- <span style="color: #000000">дети войны<br /> </span
              ><span style="color: #000000">- участники СВО</span><br />
              <span style="color: #000000">- дети участников СВО</span><br />
              <span style="color: #000000"
                >- сотрудники государственных и муниципальных музеев России,
                члены ICOM (англ. International Council of Museums,
                Международный совет музеев, ИКОМ)</span
              >
            </p>
            <p style="color: #5c5a51; text-align: justify">
              <span style="color: #000000"> </span
              ><em
                ><span style="color: #000000"
                  >Данная льгота предоставляется гражданам Российской Федерации
                  при предъявлении соответствующих документов.</span
                ></em
              ><span style="color: #000000"> </span>
            </p>
            <p style="text-align: justify">
              <span style="color: #000000"> </span>
            </p>
            <p style="color: #5c5a51; text-align: justify">
              <span style="color: #000000"> </span
              ><em
                ><span style="color: #000000"
                  >При посещении группой детей (дошкольников, школьников,
                  учащихся средних учебных заведений) тематических интерактивных
                  мероприятий необходимо присутствие не менее 1
                  сопровождающего.</span
                ></em
              ><span style="color: #000000"> </span>
            </p>
            <p style="text-align: justify">
              <span style="color: #000000"> </span>
            </p>
            <p style="color: #5c5a51; text-align: justify">
              <span style="color: #000000"> </span
              ><em
                ><span style="color: #000000"
                  >При групповом посещении тематических интерактивных
                  мероприятий 2 сопровождающих обслуживаются бесплатно при
                  группе до 25 человек, с группой до 15 человек - 1
                  сопровождающий</span
                ></em
              >
            </p>
            <p style="color: #5c5a51">
              <span style="color: #000000"> </span>
            </p>
            <span style="color: #000000"> </span>
            <p style="color: #5c5a51">
              <span style="color: #000000"> </span
              ><strong
                ><span style="color: #000000"
                  >Вторая суббота каждого месяца - день бесплатного посещения
                  для всех категорий граждан.</span
                ></strong
              >
            </p>
          </div>
        </div>
      </main>
    </div>
  </main>
</div>
{% endblock %}
